<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Tab Panel</title>


    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
	
</head>
<body>

   

    <div class="container">
        <div class="panel">
            <div class="panel-heading panelHead">
                <h3 class="panel-title">Your Heading Here</h3>
            </div>
            <div class="panel-body">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#A" role="tab" data-toggle="tab">A</a></li>
                    <li><a href="#B" role="tab" data-toggle="tab">B</a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="A">
                        <h1 id="OMH000">odkeokd</h1>
                        <p id="OMD000">okdoek</p>
                        <h3 id="OSH000">de;a</h3>
                        <p id="OSD000">ediei</p>
                        <a href="http://nciproject2014.web44.net"
                           class="btn btn-info"><i class="fa fa-arrow-circle-right fa-lg"></i> Take me to...</a>
                    </div>
                    
                    
                    <div class="tab-pane" id="B">
                        <h1 id="ROH000">jhkds</h1>
                        <p id="ROD000">sdlapsd</p>
                        <h3 id="FRH000">l;dlsa</h3>
                        <p id="FRD000">lmda</p>
                        <h3 id="SRH000"></h3>
                        <p id="SRD000"></p>
                        <h3 id="TRH000"></h3>
                        <p id="TRD000"></p>
                    </div>

                </div>

            </div>
        </div>
    </div>



    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>