<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Toggle Accordian</title>


    <meta name="keywords" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/main.css" type="text/css">
	
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-6">

				<h3 class="cen b">Heading 1</h2>

				<div class="panel-group" id="accordion1">
			   		<div class="panel panel-default">
				        <div class="panel-heading">
				            <h4 class="panel-title">
				            <a data-toggle="collapse" data-parent="#accordion1" href="#A1">
				              Collapsible Accordion 1
				            </a>
				           </h4>
				        </div>
						
				        <div id="A1" class="panel-collapse collapse">
				          <div class="panel-body">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				            sed do eiusmod tempor incididunt ut labore et dolore magna
				            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				            ullamco laboris nisi ut aliquip ex ea commodo consequat
				          </div>
				        </div>
			  		</div>
  
				   <div class="panel panel-default">		  
				          <div class="panel-heading">
				          <h4 class="panel-title">
				            <a data-toggle="collapse" data-parent="#accordion1" href="#A2">
				              Collapsible Accordion 2
				            </a>
				          </h4>
				          </div>
						 
				        <div id="A2" class="panel-collapse collapse">
				          <div class="panel-body">
				            Change does not roll in on the wheels of inevitability,
				            but comes through continuous struggle.
				            And so we must straighten our backs and work for
				            our freedom. A man can't ride you unless your back is bent.
				          </div>
				        </div>	
			   		</div>
   
				    <div class="panel panel-default">
				        <div class="panel-heading">
				          <h4 class="panel-title">
				            <a data-toggle="collapse" data-parent="#accordion1" href="#A3">
				              Collapsible Accordion 3
				            </a>
				          </h4>
				        </div>
						
				        <div id="A3" class="panel-collapse collapse">
				          <div class="panel-body">
				            You must take personal responsibility.
				            You cannot change the circumstances,
				            the seasons, or the wind, but you can change yourself.
				            That is something you have charge of.
				          </div>
				     	</div>	 
				 	</div>
				 </div>

			</div>

			<div class="col-md-6">
				
				<h3 class="cen b">Heading 2</h2>

				<div class="panel-group" id="accordion2">
			   		<div class="panel panel-default">
				        <div class="panel-heading">
				            <h4 class="panel-title">
				            <a data-toggle="collapse" data-parent="#accordion2" href="#B1">
				              Collapsible Accordion 1
				            </a>
				           </h4>
				        </div>
						
				        <div id="B1" class="panel-collapse collapse">
				          <div class="panel-body">
				           Lorem ipsum dolor sit amet, consectetur adipisicing elit,
				            sed do eiusmod tempor incididunt ut labore et dolore magna
				            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				            ullamco laboris nisi ut aliquip ex ea commodo consequat
				          </div>
				        </div>
			  		</div>
  
				   <div class="panel panel-default">		  
				          <div class="panel-heading">
				          <h4 class="panel-title">
				            <a data-toggle="collapse" data-parent="#accordion2" href="#B2">
				              Collapsible Accordion 2
				            </a>
				          </h4>
				          </div>
						 
				        <div id="B2" class="panel-collapse collapse">
				          <div class="panel-body">
				            Change does not roll in on the wheels of inevitability,
				            but comes through continuous struggle.
				            And so we must straighten our backs and work for
				            our freedom. A man can't ride you unless your back is bent.
				          </div>
				        </div>	
			   		</div>
   
				    <div class="panel panel-default">
				        <div class="panel-heading">
				          <h4 class="panel-title">
				            <a data-toggle="collapse" data-parent="#accordion2" href="#B3">
				              Collapsible Accordion 3
				            </a>
				          </h4>
				        </div>
						
				        <div id="B3" class="panel-collapse collapse">
				          <div class="panel-body">
				            You must take personal responsibility.
				            You cannot change the circumstances,
				            the seasons, or the wind, but you can change yourself.
				            That is something you have charge of.
				          </div>
				     	</div>	 
				 	</div>
				 </div>


			</div>
		</div>
	</div>

	

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

</body>
</html>